body {
	background : #f0f0f0;
}

canvas {
	position : absolute;
	top : 0;
	left : 200px;
}

#tools {
	position : fixed;
	top : 0px;
	left : 0px;

	width : 230px;
	height : calc(100% - 20px);
	padding : 10px;

	background : #222225;
	color: #ccc;

	overflow-y : auto;
	cursor : default;
}

#tools button {
	transition-duration : 0.5s;
	background : #222229;
	color: #ccc;
	border : none;
	padding : 10px;
	cursor : pointer;
}

#tools button:hover {
	transition-duration : 0.1s;
	background : #445599;
}

#tools h1 {
	margin : 0;
	font-weight : normal;
	text-align : center;
	font-size : 1.5em;
	color: #ddd;
}

#tools .box {
	width : 100%;
	height : 30px;
}

#tools .box > input {
	float : right;
}


#tools input[type="color"] {
	transition-duration : 0.5s;
	background : #222225;
	border : none;
	height : 30px;
	padding-left : 0px;
	padding-right : 0px;
	cursor : pointer;
}

#tools input[type="color"]:hover {
	transition-duration : 0.1s;
	background : #445599;
}

#tools input[type="number"] {
	transition-duration : 0.5s;
	background : #222225;
	color: #ccc;
	border : 1px solid #333;
	padding-left : 0px;
	padding-right : 0px;
	width : 70px;

	-webkit-appearance : textfield;
	-moz-appearance : textfield;
	appearance : textfield;
}

#tools input[type="number"]:hover {
	transition-duration : 0.1s;
	background : #445599;
}

#tools input[type="checkbox"] {
	cursor : pointer;
}

#tools select {
	transition-duration : 0.5s;
	background : #222225;
	border : 1px solid #333;
	color: #ccc;
	padding-left : 0px;
	padding-right : 0px;
	width : 70px;
	float : right;

	-webkit-appearance : none;
	-moz-appearance : none;
	appearance : none;
}

#tools select option {
	border : none;
}

#tools select:hover {
	background : #445599;
}

::selection {
	background : #445599;
}

::-moz-selection {
	background : #445599;
}

#tools > .object {
}
